<body>
    <div class="container">
        <div class="row">
            <h1>Favorites</h1>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        
                        <th scope="col">Total</th>
                        <th scope="col">Options</th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let favorite of favorites; index as i">
                        <td><img [src]="favorite.product.image1" class="sora">
                        </td>
                        <td>{{ favorite.product.name | titlecase}}</td>
                        <td>{{ favorite.product.name | titlecase}}</td>
                        <td>{{ favorite.product.Price }}</td>
                        
                        
                        
                        <!-- <td>
                            <button class="btn btn-danger" (click)="save(i)">Save</button>
                        </td>
                        <td> <button class="btn" (click)="delete"><i class="remove fa-lg fa fa-trash" aria-hidden="true"></i>
                        </button>
                        </td> -->


                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</body>